.app {
  background-color: #f3f5f9;
  text-align: center;
  min-height: 100vh;
}

.app-title {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 500;
  color: #324a5e;
}

.therapist-container {
  position: relative;
  overflow: hidden;
}

.therapist-container::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 12vw;
  left: 0;
  top: 0;
  background-image: linear-gradient(to right, #f3f5f9, transparent);
  z-index: 1;
}

.therapist-container::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 12vw;
  right: 0;
  top: 0;
  background-image: linear-gradient(to left, #f3f5f9, transparent);
}

.therapist-list {
  min-width: 100vw;
  white-space: nowrap;
}

.therapist-list-padded {
  padding: 0 5vw;
}

.therapist {
  width: 28vw;
  display: inline-block;
  border-radius: 10px;
  background-color: white;
  margin: 1vw;
  padding-top: 25px;
  padding-bottom: 10px;
}

.therapist-avatar {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  object-fit: cover;
  object-position: top;
}
