.app {
  background-color: #f3f5f9;
  text-align: center;
  min-height: 100vh;
}

.app-title {
  transform: scale(0.9);
}

.therapist-container {
  position: relative;
  overflow: hidden;
}

.therapist-container-gradient-left::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 12vw;
  left: 0;
  top: 0;
  background-image: linear-gradient(to right, #f3f5f9, transparent);
  z-index: 1;
}

.therapist-container-gradient-right::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 12vw;
  right: 0;
  top: 0;
  background-image: linear-gradient(to left, #f3f5f9, transparent);
}

.therapist-list {
  min-width: 100vw;
  white-space: nowrap;
  padding-bottom: 58px;
}

.therapist-list-padded {
  padding-left: 5vw;
  padding-right: 5vw;
}

.therapist-button {
  background-color: #2dc400;
  height: 4rem;
  width: 4rem;
  border: none;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-1rem);
  z-index: 1;
}

.therapist-button:active, .therapist-button:focus {
  outline: 0;
  border: none;
  outline-style: none;
}

.therapist-button-prev {
  left: 3rem;
}

.therapist-button-next {
  right: 3rem;
}

.therapist {
  width: 28vw;
  display: inline-block;
  border-radius: 10px;
  background-color: white;
  margin: 1vw;
  padding-top: 25px;
  padding-bottom: 10px;
  box-sizing: border-box;
  position: relative;
}

.therapist-selected {
  border: solid 3px #2dc400;
  box-shadow: 0px 8px 78px -24px #2dc400;
}

.therapist-selected-square {
  height: 35px;
  width: 35px;
  background-color: #2dc400;
  top: 0;
  right: 0;
  position: absolute;
  border-bottom-left-radius: 12px;
}

.therapist-selected-checkmark {
  transform: translateY(5px);
}

.therapist-avatar {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  object-fit: cover;
  object-position: top;
}

.therapist-name {
  font-weight: normal;
}
