.app {
  background-color: #f3f5f9;
  text-align: center;
  height: 100vh;
}

.app-title {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 500;
  color: #324a5e;
}

